---
layout: default
published: true
---
<article class="post">
	<div class="half half-left">
		<h1>{{ page.title }}</h1>
	  <div class="date">
	    Written on {{ page.date | date: "%B %e, %Y" }}
	  </div>
      {% if page.animal %}
      	{% if page.animal == "bunny" %}
      <p>Bunny Quick Facts:</p>
      <ul>
        <li>Furry</li>
        <li>Have Teeth</li>
        <li>Like Carrots</li>
      </ul>
      	{% elsif page.animal == "deer" %}
      		<p>Deer Quick Facts:</p>
            <ul>
              <li>Brown</li>
              <li>Jump Hight</li>
              <li>Eat Grass</li>
            </ul>
      	{% else %}
      <p>I don't know anything about this animal, sorry.</p>
      	{% endif %}
      {% endif %}
	</div>
	<div class="half half-right">
	  <div class="entry">
	    {{ content }}
	  </div>
	</div>
	<p class="example">This is the example post type</p>

  {% include disqus.html %}
</article>
